<div id="body-container">
  <div class="jumbotron-center">
    <div class="box-container index-container">
      <h1>Partidos</h1>

      <% if (hasCreatePermission) { %>
        <form action="<%= newMatchPath %>">
          <input type="submit" value="Crear partido"/>
        </form>
      <% } %>

      <%- include('_index', {
        isPlayerMatch: false,
        hasModifyPermission: false,
      }) %>

    </div>
  </div>
</div>
