<h1>Partidos en jugamos</h1>

<% if (hasCreatePermission) { %>
<form action=<%= newMatchPath %>>
    <input type="submit" value="Crear partido"/>
</form>
<% } %>

<ul>
  <% matches.forEach((match) => { %>
    <li>
      <a href="<%= matchPath(match) %>">
        <%= match.id %>
      </a>
      <p>
        Fecha: <%= match.date %>
        <br>
      </p>
    </li>
  <% }) %>
</ul>
