<div class="center">
  <h1>Partidos en jugamos</h1>

  <% if (hasCreatePermission) { %>
  <form action=<%= newMatchPath %>>
      <input type="submit" value="Crear partido"/>
  </form>
  <% } %>

  <ul>
    <% if (privateMatches.length + publicMatches.length > 0) { %>
      <% privateMatches.forEach((match) => { %>
        <%- include('show-preview', { match }) %>
      <% }) %>

      <% publicMatches.forEach((match) => { %>
        <%- include('show-preview', { match }) %>
      <% }) %>

    <% } else { %>
      <p>
        No hay partidos disponibles
      </p>
    <% } %>
  </ul>
</div>
