<div class ="center">

  <ul>
    <% fields.forEach((field) => { %>
      <li>
        <a class="lilink" href="<%= fieldPath(field) %>">
          <img src="<%=field.photo%>" class="small-logo"/>
          <div>
            <%= field.name %>
          </div>
        </a>
      </li>
    <% }) %>
  </ul>

  <form action="<%= cancelPath %>" method="get">
    <input type="submit" value="Cancelar"/>
  </form>
</div>
