<div id="body-container">
  <div class="jumbotron-center">
    <div class="box-container index-container">
      <h1>Seleccionar recinto</h1>

      <ul>
        <% compounds.forEach((compound) => { %>
          <li>
            <a class="lilink" href="<%= compoundPath(compound) %>">
              <img src="<%= compound.getPhoto() %>" class="small-logo"/>
              <div>
                <%= compound.name %>
              </div>
            </a>
          </li>
        <% }) %>
      </ul>

      <form action="<%= cancelPath %>" method="get">
        <input type="submit" value="Cancelar"/>
      </form>
    </div>
  </div>
</div>
