<div class ="center">

  <ul>
    <% compounds.forEach((compound) => { %>
      <li>
        <a class="lilink" href="<%= compoundPath(compound) %>">
          <img src="<%= compound.photo %>" class="small-logo"/>
          <div>
            <%= compound.name %>
          </div>
        </a>
      </li>
    <% }) %>
  </ul>

  <form action="<%= cancelPath %>" method="get">
    <input type="submit" value="Cancelar"/>
  </form>
</div>
