<% if (errors) { %>
  <div class="errors">
    Necesitas arreglar los siguiente errores:
    <ul>
      <% errors.forEach(error => { %>
        <li><%= error.message %></li>
      <% }); %>
    </ul>
  </div>
<% } %>
