<div id="body-container">
  <div class="jumbotron-center">
    <div class="box-container new-invitation-container">
      <h1>Agregar Jugadores</h1>

      <% if(invitablePlayers.length > 0) { %>
        <form action="<%= submitInvitedPlayerPath %>" method="post">
          <div>
            <label for="matchId">Elegir jugador</label>
            <% invitablePlayers.forEach( (player) => { %>
              <div>
                <input type="radio" name="playerId" value="<%= player.id %>"/> <%= player.email %>
              </div>
            <% }) %>
          </div>

          <div>
            <input type="submit" name="create" value="Añadir" />
          </div>

        </form>
      <% } else { %>
        <div>
          <strong>
            No quedan jugadores para agregar!
          </strong>
        </div>
      <% } %>

      <%- include('../_buttons/cancel', { cancelPath }) %>
    </div>
  </div>
</div>
