<%# Provide:
  createCommentPath,
  isPublic (optional)
  %>

<%# Must exist: hasCreatePermission, createTeamCommentPath %>

<div>
  <% if (hasCreatePermission) { %>
    <form action="<%= createCommentPath %>" method="post">
      <% if (locals.isPublic) { %>
        <div>
          <input type="hidden" name="isPublic" value=<%= isPublic %> />
        </div>
      <% } %>
      <div>
        <input type="textarea" name="content" />
      </div>
      <input type="submit" value="Comentar" />
    </form>
  <% } %>
</div>
