<%# Provide:
  createCommentPath,
  isPublic (optional)
  %>

<%# Must exist: canComment %>

<div>
  <% if (canComment) { %>
    <form action="<%= createCommentPath %>" method="post">
      <% if (locals.isPublic !== undefined) { %>
        <div>
          <input type="hidden" name="isPublic" value=<%= isPublic %> />
        </div>
      <% } %>
      <div>
        <label for="content">Escribe en el muro:</label>
        <input type="textarea" name="content" />
      </div>
      <input type="submit" value="Comentar" />
    </form>
  <% } %>
</div>
