<h1>Deportes en jugamos</h1>

<a href="<%= newSportPath %>"> Crear nuevo deporte </a>

<ul>
  <% sports.forEach((sport) => { %>
    <li>
      <a href="<%= sportPath(sport) %>">
        <%= sport.name %>
      </a>
    </li>
  <% }) %>
</ul>
