<h1>Deportes en jugamos</h1>

<% if (hasModifyPermission) { %>
  <form action=<%= newSportPath %>>
      <input type="submit" value="Crear deporte"/>
  </form>
<% } %>

<ul>
  <% sports.forEach((sport) => { %>
    <li>
      <a href="<%= sportPath(sport) %>">
        <%= sport.name %>
      </a>
    </li>
  <% }) %>
</ul>
