<div class="center">

  <h1>Canchas</h1>

  <% if(hasModifyPermission) { %>
    <form action="<%= newFieldPath %>">
        <input type="submit" value="Crear cancha"/>
    </form>
  <%}%>

  <%- include('index-snippet', { fields, logoClassName: "medium-logo" }) %>
</div>
