<%# Must provide: editPath
    optional: message, formClass %>

<form
  <% if (locals.formClass) { %>
    class="<%= formClass %>"
  <% } %>
  action="<%= editPath %>">
  <input class="edit-button" type="submit" value="<%= locals.message || 'Editar' %>"/>
</form>
