<%# Must provide: editPath
    optional: message, formClass %>

<form
  <% if (locals.formClass) { %>
    class="<%= formClass %>"
  <% } %>
  action="<%= editPath %>">
  <input class="edit-button" type="image" src="/assets/edit.png" alt="<%= locals.message || 'Editar' %>"/>
</form>
