<h1>Players en Jugamos</h1>

<ul>
  <% players.forEach((player) => { %>
    <li>
      <!-- <a href="<%=  %>"> -->

        <%= player.email %>
        <form action=<%= playerPath(player) %>>
            <input type="submit" value="Go To"/>
        </form>
      <!-- </a> -->
    </li>
  <% }) %>
</ul>

<form action=<%= newPlayerPath %>>
    <input type="submit" value="Crear"/>
</form>
