<div class ="center">
<h1>Players en Jugamos</h1>

<ul>
  <% players.forEach((player) => { %>
    <li>
        <%= player.email %>
        <form action=<%= playerPath(player) %>>
            <input type="submit" value="Ver perfil"/>
        </form>
    </li>
  <% }) %>
</ul>
</div>
