<div class="center">
  <div>
    <label for="email">E-Mail</label>
    <input type="text" name="email" value="<%= user.email %>" required/>
  </div>
  <div>
    <label for="password">Contraseña</label>
    <input type="password" name="password" required/>
  </div>
  <div>
    <label for="firstName">Nombre</label>
    <input type="text" name="firstName" value="<%= user.firstName %>" required/>
  </div>
  <div>
    <label for="lastName">Apellido</label>
    <input type="text" name="lastName" value="<%= user.lastName %>" required/>
  </div>
  <div>
    <label for="photo">Foto</label>
    <input type="file" name="photo" accept="image/*"/>
  </div>
</div>
