<div id="body-container">
  <div class="jumbotron-center">
    <div class="box-container new-invitation-container">

      <h1>Invitar Equipos</h1>

      <%- include('../teams/_index-radio', { teams: invitableTeams, submitPath: submitInvitedTeamPath, buttonMessage: 'Invitar', noTeamsMessage: 'No quedan equipos para invitar' }) %>

      <%- include('../_buttons/cancel') %>
    </div>
  </div>
</div>
