<div id="body-container">
  <div class="jumbotron-center">
    <div id="notifications-react-app"
      class="box-container"
      data-user-id="<%= currentUser.id %>"
      >
    </div>
  </div>
</div>
