<div class="center">

  <h1>Jugamos</h1>

  <%# include('../notifications/index') %>
  <div
    id="notifications-react-app"
    data-user-id="<%= currentUser.id %>"
    >
    Here a React app will be rendered
  </div>
</div>
