.index-button {
  display: inline-block;
}

.delete-button-icon {
  width: 2em;
  height: 2em;
  margin: 0.5em;
}

.edit-button-icon {
  width: 2em;
  height: 2em;
  margin: 0.5em;
}

.small-button {
  width: 4em;
  height: 4em;
}
