#comments-sup-bar {
  width: 100%;
  position: relative;

  h4 {
    display: inline-block;
  }

  form {
    display: inline-block;
    position: absolute;
    right: 0;
    margin-right: 0.5em;
  }

}
