html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: #F0F8FF;
  font-family: Helvetica, Arial, sans-serif;
  padding-top: 30px;
  margin-left: 20px;
  margin-right: 20px;
}

h1 {
  color: #111;
  font-family: 'Helvetica Neue', sans-serif;
  font-size: 50px;
  font-weight: bold;
  letter-spacing: -1px;
  line-height: 2;
  text-align: center;
}

p {
  font-family: 'Helvetica Neue', sans-serif;
  font-size: 14px;
  line-height: 24px;
  margin: 0 0 24px;
  text-justify: inter-word;
}

a {
  color: #1E90FF;
  &:hover {
    color: hotpink;
  }
  &:active {
    color: darkred;
  }
}

input[type=text], input[type=password] {
  border: 2px solid black;
  border-radius: 4px;
}

input[type=text]:focus, input[type=password]:focus {
  background-color: #F0F8FF;
}

input[type=button], input[type=submit], input[type=reset] {
  background-color: #006400;
  border: none;
  color: white;
  padding: 16px 32px;
  text-decoration: none;
  font-family: "Lucida Console", Arial, sans-serif;
  font-weight: bold;
  margin: 4px 2px;
  cursor: pointer;
}

input[type=button]:hover, input[type=submit]:hover, input[type=reset]:hover {
  background-color: #228B22;
  border: none;
  color: white;
  padding: 16px 32px;
  text-decoration: none;
  font-family: "Lucida Console", Arial, sans-serif;
  font-weight: bold;
  margin: 4px 2px;
  cursor: pointer;
}

img {
  &.small-logo {
    width: 3em;
    height: 3em;
  }
  &.medium-logo {
    width: 10em;
    height: 10em;
  }
  &.large-logo {
    width: 20em;
    height: 20em;
  }
}

.column-30 {
  width: 30%;
}

.column-40 {
  width: 40%;
}

.column-50 {
  width: 50%;
}

.column-60 {
  width: 60%;
}

.column-70 {
  width: 70%;
}

#body-container {
  // HACK: this div contains whatever is in the body, so that does not need to specify top property
  // FIXME: This should be in in layout.html wrapping the body, not in each view
  position: relative;
  top: 50px;
}

.jumbotron {
  position: absolute;
  width: 100%;
  text-align: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.jumbotron-center {
  width: 70%;
  margin: 0 auto;
  text-align: center;
}

.center {
  // THIS CLASS IS DEPRECATED, use jumbotron-center instead
  left: 25%;
  background-color: #fff;
  margin: 0 auto;
  width: 66%;
  text-align: center;
  min-height: 100%;
}

.box-container {
  border: solid 1px black;
  padding: 0.5em;
  margin: 0.5em;
  background-color: #F0F0EA;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.index-container {
  h1 {
    font-size: 2em;
  }
}

.form-container {
  h1 {
    font-size: 1.5em;
  }
}


.generator{
  display:inline-block;
  border-width: 2px;
  margin: 25px;
  padding: 8px;
  border-style: solid;


}

.scheduleBase{
margin: 50px;
}

img {
  &.small-logo {
    width: 3em;
    height: 3em;
  }
  &.medium-logo {
    width: 10em;
    height: 10em;
}
}
.new-invitation-container {
  h1 {
    font-size: 1.5em;

  }
}

.edit-invitation-container {
  h1 {
    font-size: 1.5em;
  }
}
