$nav-bar-color: #006400;
$nav-bar-color-hover: #228B22;

header {
  color: white;
  font-weight: bold;
  padding: 10px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  border-bottom: 1px solid #ccc;
  box-shadow: 0 0 5px #999;
  background: $nav-bar-color;
  z-index: 10;
}

#user-bar {
  position: absolute;
  top: 0;
  right: 0;
  padding: 20px;
  text-align: right;
  span {
    display: inline-block;
    float: left;
  }
}

#logo {
  display: inline-block;
  vertical-align: middle;
  img {
    height: 60px;
  }
}

#profile-button {
  float: left;
  display: inline-block;
  padding-left: 0.4em;
  padding-right: 0.4em;
  padding-top: 0.2em;
  // padding-bottom: 0.1em;

  &:hover {
    background-color: $nav-bar-color-hover;
  }
}

#profile-picture {
  float: left;
}

#invited-name, #profile-name {
  font-weight: bold;
  text-decoration: none;
  color: white;
  margin-left: 1em;
  margin-top: 1em;
  margin-right: 1em;
}

#logout-button {
  padding: 0;
}

#logout-button-input {
  // HACK: this overrides input[type=submit] behavior
  // The button behavior (on hover, etc) is covered in the nav-bar-button
  // input[type=submit] should use a class instead of that?
  background-color: inherit;
  font-size: inherit;
  padding: 1em 2em;
  margin: 0;
  height: 100%;
  width: 100%;

  &:hover {
    background-color: inherit;
    padding: 1em 2em;
  }
}

.nav-bar-button {
  font-size: 100%;
  background-color: $nav-bar-color;
  text-decoration: none;
  float: left;
  box-sizing: border-box;
  color: white;
  font-family: "Lucida Console", Arial, sans-serif;
  padding: 1em 2em;
  font-weight: bold;
  cursor: pointer;

  &:hover {
    background-color: $nav-bar-color-hover;
    border: none;
    color: white;
  }
}

// Dropdown adaptado de: https://www.w3schools.com/css/css_dropdowns.asp
.register-dropdown {
  position: relative;
  display: inline-block;
  &:hover {
    .register-options {
      display: block;
      width: 100%;
      overflow: auto;
    }
  }
  button {
    color: inherit;
    background-color: $nav-bar-color;
    border: none;
    cursor: pointer;
  }
}

.register-options {
  display: none;
  position: absolute;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;

  a {
    display: block;
    background-color: $nav-bar-color;
    color: inherit;
    padding: 1em 2em;
    text-decoration: none;
    &:hover {
      background-color: $nav-bar-color-hover;
    }
  }
}
