.match-li {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  margin: 0;
  padding: 0;
  &:hover {
    // HACK: this needs to be done to override lilink behaviour
    display: flex;
    margin: 0;
    padding: 0;
  }

  div, form {
    display: inline-block;
  }

  div {
    left: 0;
  }

  form {
    right: 0;
  }

  span {
    display: block;
  }
}
