table {
  display:inline-block;
  max-height: 88%;
  overflow-y: auto;
  overflow-x: auto;
  margin-top: 3%;
  width: 90%;
}

th {
  background-color: #006400;
  color: white;
  border: 1px solid black;
}

td {
  border: 1px #F08080;
}

tr {
  background-color: #f5f5f5;
}

td:hover {
  background-color: #f5f5f5
}

.schedule {
  background-color: #fff;
  margin: 0 auto;
  width: 93%;
  text-align: center;
  min-height:100%;
}

.generator {
  display:inline-block;
  border-width: 2px;
  margin: 25px;
  padding: 8px;
  border-style: solid;
}

.scheduleBase {
  margin: 50px;
}
