<div id="body-container">
  <div class="jumbotron-center">
    <div class="box-container new-invitation-container">
      <h1>Agregar Equipo</h1>

      <%- include('../teams/_index-radio', { teams: joinableTeams, submitPath: submitPlayerTeamPath, noTeamsMessage: 'No quedan equipos para agregar' }) %>

      <%- include('../_buttons/cancel', { cancelPath }) %>
    </div>
  </div>
</div>
