<div class ="center">
<div>
  <label for="email">E-Mail</label>
  <input type="text" name="email" value="<%= user.email %>" />
</div>
<div>
  <label for="password">Contraseña</label>
  <input type="password" name="password" />
</div>
<div>
  <label for="firstName">Nombre</label>
  <input type="text" name="firstName" value="<%= user.firstName %>" />
</div>
<div>
  <label for="lastName">Apellido</label>
  <input type="text" name="lastName" value="<%= user.lastName %>" />
</div>
<div>
  <label for="photo">Foto</label>
  <input type="text" name="photo" value="<%= user.photo %>" />
</div>
</div>
