<h1>Agregar Jugadores</h1>

<% if(PlayersNotInvited.length > 0) { %>
  <form action="<%= submitMatchPlayerPath %>" method="post">
    <div>
      <label for="matchId">Elegir jugador</label>
      <% PlayersNotInvited.forEach( (player) => { %>
        <div>
          <input type="radio" name="playerId" value="<%= player.id %>"/> <%= player.email %>
        </div>
      <% }) %>
    </div>

    <br />
    <div>
      <input type="submit" name="create" value="Añadir" />
    </div>

  </form>
<% } else { %>
  <div>
    <strong>
      No quedan jugadores para agregar!
    </strong>
  </div>
<% } %>

<form action="<%= cancelPath %>" method="get">
    <input type="submit" value="Cancelar"/>
</form>
